.checkout-nav .nav-link {
    color:whitesmoke;
}

.shopping-cart .card-img-top {
    max-width: 25%;
    border: 1px solid #eee;
    float: left;
    margin-right: 1rem;
    margin-top: 0.4rem;
}

/* Exercise 11 */
/* Responsiveness */
/* We size down heading font-sizes, for tablets and mobile devices */
@media (max-width: 1024px) {
    h3 {
        font-size: 2.8vw;
    }

    h4 {
        font-size: 2.3vw;
    }

    .cart-description {
        font-size: 1.9vw;
    }
}