/* Fonts  */ 
html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.card-footer button {
    font-size: 1.5rem;
}

/* Exercise 11 */
/* Responsiveness */
/* We size down font-size, for tablets and mobile devices*/
@media (max-width: 1024px) {
    #navbar-example2 {
        border: 10px solid black;
        font-size: 1.4vw;
    }
}